body {
  margin: 0;
  padding: 0;
  background: #fff;
  min-height: 100vh;
  height: 100% !important;
  flex-direction: column !important;
  display: flex !important;
}

footer {
  margin-top: auto !important;
  padding-bottom: 1rem !important;
  color: #ccc;
  text-align: center;
}

.wrapper {
  width: 100%;
  max-width: 400px;
  height: 200px;
  display: table;
  border: 5px solid #000;
  margin: 50px auto;
  padding: 20px;
  position: relative;
}
.wrapper:after,
.wrapper:before {
  content: '';
  position: absolute;
  font-family: fontAwesome;
  font-size: 50px;
  color: #000;
  background: #fff;
}
.wrapper:after {
  content: '';
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 0 #fff;
}
.wrapper:before {
  content: '';
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  box-shadow: -10px -10px 0 #fff;
}

.title,
.description {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.description {
  font-size: 16px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px 0 0;
}
.title small {
  display: block;
  font-size: 25px;
  text-align: right;
}

.border-radius {
  border-radius: 30px;
}

.text-right {
  text-align: right;
}

button {
  margin: 50px;
  font-family: inherit;
}

.simple {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.simple::after {
  content: '';
  background-color: #dcbaff;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

.fill {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: '';
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

.none {
  display: none;
}

#question_loader,
#answer_loader {
  width: 70%;
}
