<html lang="en-EN">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="noindex, nofollow">
    {% block title %}
    
    {% endblock %}
    <link href="{{ url_for('static', path='/css/bootstrap-grid.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
      <main>

        {% block content %}
        {% endblock %}
      </main>

    <script defer src="{{ url_for('static', path='/js/main.js') }}"></script>
    </main>
    </body>
    <footer class="mt-auto py-3 bg-light">
      <p>{{settings.PROJECT_DESCRIPTION}} created by {{settings.CREATOR}}</p>
    </footer>
</html>
