{% extends "shared/base.html" %}    

{% block title %}
<!-- <title>{{settings.PROJECT_DESCRIPTION}} by {{settings.CREATOR}}</title> -->
{% endblock %} 

{% block content %}

<div class="container">

<div class="row">
  <div class="col col-md-6">

  <div id="question">
  <button id="questions_btn" data-name="questions_num" data-value="1" class="simple">Get Question!</button>
{% include "components/question.html" %}
</div>
  </div>


  <div class="col col-md-6">
<div id="answer">
  <button id="answer_btn" class="fill">Get Answer!</button>
  {% include "components/answer.html" %}
</div>
</div>
</div>
</div>
{% endblock %}

